// Place all the styles related to the Selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	margin: 15px;

	body {
		background-color: #AAC6FA; 
	}

	img {
		height: 80px;
		width: 100px;
	}
}

#main-header {
	text-align: center;
}

.total-container {
	font-size: .6em;
	vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFFFFF;
}

.th-text-align-center{
	text-align: center;
}

td {
	position: relative;

	.selection-option-menu {
		position: absolute;
		width: 50%;
		left: 25%;
		height: 36px;
		bottom: 10px;

		// Used to align buttons within
		text-align: center;

		button {
			width: 33%;
		}
	}
}

.td-no-padding {
	padding: 0 !important;
}